{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center font-weight-bold">Connecting an AWS S3 Bucket</h1>
                <h4 class="text-center font-weight-bold">Here's a small accompanying blurb!</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ol style="font-size: 18px">
                    <li><b>Step 1 Header:</b> Step 1 content</li>
                    <li><b>Step 2 Header:</b> Step 2 content</li>
                    <li><b>Step 3 Header:</b> Step 3 content</li>
                    <li><b>Step 4 Header:</b> Step 4 content</li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
