{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">

        <h1>Phenotypic Datasets</h1>
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>#</th>
                    <th>Dataset Name</th>
                    <th>Samples</th>
                    <th>Dimensions</th>
                    <th></th>
                <tr>
            </thead>
            <tbody>
            {% for meta in metas %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><a href="/MEDA/plot/{{ meta.name }}/pheno/None/default">{{ meta.name }}</a></td>
                    <td>{{ meta.n }}</td>
                    <td>{{ meta.d }}</td>
                    <td><a  href='/MEDA/datasets/delete/{{ meta.name }}'>Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>EEG Datasets</h1>
        <table class="table">
            <thead class="thead">
            <tr>
                <th>#</th>
                <th>Dataset Name</th>
                <th></th>
            <tr>
            </thead>
            <tbody>
            {% for eeg in eegs  %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><a  href="/MEDA/plot/{{ eeg }}/eeg/none/default">{{ eeg }}</a></td>
                    <td><a  href='/MEDA/datasets/delete/{{ eeg }}'>Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>fMRI Datasets</h1>
        <table class="table">
            <thead class="thead">
            <tr>
                <th>#</th>
                <th>Dataset Name</th>
                <th></th>
            <tr>
            </thead>
            <tbody>
            {% for fmri in fmris  %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><a  href="/MEDA/plot/{{ fmri }}/fmri/none/default">{{ fmri }}</a></td>
                    <td><a  href='/MEDA/datasets/delete/{{ fmri }}'>Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h1>Graph Datasets</h1>
        <table class="table">
            <thead class="thead">
            <tr>
                <th>#</th>
                <th>Dataset Name</th>
                <th></th>
            <tr>
            </thead>
            <tbody>
            {% for graph in graphs  %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><a  href="/MEDA/plot/{{ graph }}/graph/none/default">{{ graph }}</a></td>
                    <td><a  href='/MEDA/datasets/delete/{{ graph }}'>Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
