{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th>#</th>
                    <th>Dataset Name</th>
                    <th>Samples</th>
                    <th>Dimensions</th>
                <tr>
            </thead>
            <tbody>
            {% for meta in metas  %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><a  href="/MEDA/plot/{{ meta.name }}/default">{{ meta.name }}</a></td>
                    <td>{{ meta.n }}</td>
                    <td>{{ meta.d }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
