{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row" style="padding-top: 80px;">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
              {% for section, values in total_plots.items() %}
              <div class="container-fluid">{{ section }}</div>
              <hr>
              <ul class="nav nav-pills flex-column">
                  {% for sidename, lemurname, filename in values %}
                    <li class="nav-item">
                      <a class="nav-link {{ 'active' if value == request.path.split('/')[-1] }}"
                          href="{{ filename }}">{{ sidename }}
                          {% if filename == request.path.split('/')[-1] %}
                              <span class="sr-only">(current)</span>
                          {%  endif %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endfor %}
            </nav>

            <main role="main"
                  class="col-sm-9 ml-sm-auto col-md-10 pt-3"
                  style="height:calc(100vh - 75px)">
                {{ plot|safe }}
            </main>
        </div>
    </div>
{% endblock %}
