{% extends "layout.html" %}
{% block head %}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">\
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" style="padding-top: 70px">
              <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <h6 class="nav-link font-weight-bold mb-0">MEDA Options</h6>
                  </li>
                  {% for sidename, lemurname, filename in MEDA_options %}
                    <li class="nav-item">
                      <a class="nav-link {{ 'active' if value == request.path.split('/')[-1]
                              and 'none' == request.path.split('/')[-2]}}"
                          href={{ url_for('meda_modality', ds_name=request.path.split('/')[-4],
                          modality = Modality, mode='none', plot_name=filename) }}>{{ sidename }}
                          {% if filename == request.path.split('/')[-1] %}
                              <span class="sr-only">(current)</span>
                          {%  endif %}
                      </a>
                    </li>
                  {% endfor %}
              </ul>


              <hr>
              <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <h6 class="nav-link font-weight-bold mb-0">MEDA Embedded Options</h6>
                  </li>
                  {% for sidename, lemurname, filename in MEDA_Embedded_options %}
                      <li class="nav-item">
                          <a class="nav-link {{ 'active' if value == request.path.split('/')[-1]
                              and 'embed' == request.path.split('/')[-2]}}"
                             href={{ url_for('meda_modality', ds_name=request.path.split('/')[-4], modality = Modality, mode='embed', plot_name=filename) }}>{{ sidename }}
                              {% if filename == request.path.split('/')[-1] %}
                                  <span class="sr-only">(current)</span>
                              {%  endif %}
                          </a>
                      </li>
                  {% endfor %}
              </ul>

              <hr>
              <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                      <h6 class="nav-link font-weight-bold mb-0">MEDA Embedded and Clustering Options</h6>
                  </li>
                  {% for sidename, lemurname, filename in MEDA_Clustering_options %}
                      <li class="nav-item">
                          <a class="nav-link {{ 'active' if value == request.path.split('/')[-1]
                            and 'embed' == request.path.split('/')[-2]}}"
                             href={{ url_for('meda_modality', ds_name=request.path.split('/')[-4], modality = Modality, mode='clust', plot_name=filename) }}>{{ sidename }}
                              {% if filename == request.path.split('/')[-1] %}
                                  <span class="sr-only">(current)</span>
                              {%  endif %}
                          </a>
                      </li>
                  {% endfor %}
              </ul>

              <hr>
              <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                      <h6 class="nav-link font-weight-bold mb-0">One-to-One Plots</h6>
                  </li>
                  {% for sidename, lemurname, filename in One_to_One %}
                      <li class="nav-item">
                          <a class="nav-link {{ 'active' if value == request.path.split('/')[-1]
                            and 'embed' == request.path.split('/')[-2]}}"
                             href={{ url_for('meda_modality', ds_name=request.path.split('/')[-4], modality = Modality, mode='one',
                             subj_name=('none' if lemurname | lower == request.path.split('/')[-1] else request.args.get('subj_name', 'none')),
                             test_name=('none' if lemurname | lower == request.path.split('/')[-1] else request.args.get('test_name', 'none')),
                             plot_name=filename) }}> {{ sidename }}
                              {% if filename == request.path.split('/')[-1] %}
                                  <span class="sr-only">(current)</span>
                              {%  endif %}
                          </a>
                      </li>
                  {% endfor %}
              </ul>

            </nav>

            <main role="main"
                  class="col-sm-9 ml-sm-auto col-md-10"
                  style="height:calc(100vh - 75px)">
                <!-- Check if One to One Plots and none is chosen-->
                {% if request.args.get('subj_name') == "none" and plot == None %}
                    <h1><b>One-to-One {{ one_title }} Plots!</b></h1>
                    <p>Our One-to-One plot viewer allows you to investigate subjects of interest from the dataset at a
                    closer level. After identifiying which subject and which paradigms you wish to investigate, choose
                    them from the list below!</p>
                    <table id="subjTable" class="display">
                        <thead class="thead">
                            <tr>
                                <th>Subject</th>
                                <th>Task</th>
                                {% for meta_name in interm_meta %}
                                    <th>{{ meta_name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for subject, tasks in interm %}
                                {% for task in tasks %}
                                    <tr>
                                        <td>
                                            <a href={{ url_for('meda_modality', ds_name=request.path.split('/')[-4], modality = Modality, mode='one',
                                        subj_name=subject['_id'], test_name=task, plot_name=request.path.split('/')[-1]) }}>{{ subject['_id'] }}</a>
                                        </td>
                                        <td>
                                            {{ task }}
                                        </td>
                                        {% for meta_name in subject['metadata'] %}
                                            <td>
                                                {{ subject['metadata'][meta_name] }}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                {% else %}
                    {{ plot|safe }}
                {% endif %}
            </main>
        </div>
    </div>

    <script>
        $( function() {
            $('#subjTable').DataTable();
        });
    </script>
{% endblock %}
