{% extends "layout.html" %}
{% block head %}
    <!--<script>
        $("#file-picker").change(function(){
            var input = document.getElementById('file-picker');
            $("#file-val").text(input.files[0].name);
            for (var i=0; i<input.files.length; i++)
            {
                var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase();
                if ((ext === 'txt') || (ext === 'csv')) {
                    $("#msg").text("Files are supported");
                } else {
                    $("#msg").text("Files are NOT supported");
                    document.getElementById("file-picker").value ="";
                }
            }
        } );
    </script>-->
{% endblock %}
{% block content %}
    <div class="container top-buffer">
        <h1>
            <center>
                Welcome to Red Lemur!
            </center>
        </h1>
        <h4>
            <center>
                Phenotypic Data
            </center>
        </h4>
        <p>
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data

        </p>

        <h4>
            <center>
                EEG and fMRI Data
            </center>
        </h4>
        <p>
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data

        </p>
    </div>


    <div class="container top-buffer">
        <center>
            <h1>Upload Data</h1>
        </center>
        <form class="form-group" id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <div class="row form-inline">
                <div class="col-sm-4">
                    <h4>Phenotypic:</h4>
                    <strong>Phenotypic data (.csv) </strong><br>
                    <label style="margin-right:20px" class="btn btn-light">
                        <input id="file-picker" type="file" name="file" accept="text/csv">
                    </label>
                    <div id="msg"></div>
                </div>
                <div class="col-sm-4">
                    <h4>EEG:</h4>
                    <strong>AWS Credentials (.csv)</strong><br>
                    <label style="margin-right:20px" class="btn btn-light">
                        <input id="file-picker" type="file" name="file" accept="text/csv">
                    </label>
                    <div id="msg"></div>
                </div>
                <div class="col-sm-4">
                    <h4>fMRI:</h4>
                    <strong>AWS Credentials (.csv)</strong><br>
                    <label style="margin-right:20px" class="btn btn-light">
                        <input id="file-picker" type="file" name="file" accept="text/csv">
                    </label>
                    <div id="msg"></div>
                </div>
            </div>
            <div class="row top-buffer">
                <div class="col-sm-4 offset-sm-4">
                    <div class="">
                        <label>Dataset Name:</label>
                        <input type="text" id="dataset-name" name="dataset-name">
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Upload" id="upload-button">
                </div>
            </div>
        </form>
        <br />
        <br />

        <div class="row">
        </div>
    </div>
{% endblock %}

