{% extends "layout.html" %}
{% block head %}
    <script>
        $("#file-picker").change(function(){
            var input = document.getElementById('file-picker');
            $("#file-val").text(input.files[0].name);
            for (var i=0; i<input.files.length; i++)
            {
                var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase();
                if ((ext === 'txt') || (ext === 'csv')) {
                    $("#msg").text("Files are supported");
                } else {
                    $("#msg").text("Files are NOT supported");
                    document.getElementById("file-picker").value ="";
                }
            }
        } );
    </script>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>
            <center>
                Welcome to Red Lemur!
            </center>
        </h1>
        <h4>
            <center>
                Phenotypic Data
            </center>
        </h4>
        <p>
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data
            Introduction of phenotypic data

        </p>

        <h4>
            <center>
                EEG and fMRI Data
            </center>
        </h4>
        <p>
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data
            Introduction of EEG and fMRI data

        </p>
    </div>


    <div class="container">
        <center>
            <h1>Upload Data</h1>
        </center>
        <div class="row">
            <div class="col-xs-12">
                <h4>Phenotypic:</h4>
                <strong>Phenotypic data (.csv) </strong><br>
                <form class="form-inline" id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                    <label style="margin-right:20px" class="btn btn-light">
                        <input id="file-picker" type="file" name="file" accept="text/csv">
                    </label>
                    <input class="btn btn-primary" id="upload-button" type="submit" value="Upload">
                    <div id="msg"></div>

                </form>
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-xs-12">
                <h4>EEG and fMRI:</h4>
                <strong>AWS Credentials (.csv)</strong><br>
                <form class="form-inline" id="s3-upload-form" action="{{ url_for('s3upload') }}" method="POST" enctype="multipart/form-data">
                    <label style="margin-right:20px" class="btn btn-light">
                        <input id="file-picker" type="file" name="file" accept="text/csv">
                    </label>
                    <input class="btn btn-primary" type="submit" value="Upload" id="upload-button">
                    <div id="msg"></div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

