{% extends "layout.html" %}
{% block content %}
    <div class="container mt-2">
        <h1><b>
            <center>
                Welcome to Red Lemur!
            </center>
        </b></h1>
        <br />
    </div>

    <div class="container top-buffer">
        <center>
            <h1>Upload Data</h1>
            <h5>Ingest EEG and FMRI data directly from an Amazon S3 bucket! See <a  href='https://docs.google.com/document/d/e/2PACX-1vSz_1mAsaTr4BOa3BIMV4t7_OtSran_KPaRkynW5_smRb8ssKNbFd0ob75esiNA5LJO5wfclpmOKjqX/pub'>documentation</a>.</h5><br>
        </center>
        <br />
        <form class="form-group" id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <!-- Graphs -->
                <div class="col-sm-4">
                    <h4><b>Graph Data:</b></h4>
                    <p>Bucket must be in <a href="http://bids.neuroimaging.io/bids_spec.pdf">BIDS Format</a></p>
                    <div class="form-group">
                        <label for="graph" class="font-weight-bold">AWS Bucket Name:</label>
{#                      <input id="file-picker" type="file" name="graph" accept="text/csv">#}
                        <input type="text" class="form-control" id="graph" name="graph">
                    </div>
                    <div class="form-group">
                        <label for="graph-key" class="font-weight-bold">AWS Key:</label>
                        <input type="text" class="form-control" id="graph-key" name="graph-key">
                    </div>
                    <div id="msg"></div>
                </div>
                <!-- EEG -->
                <div class="col-sm-4">
                    <h4><b>EEG:</b></h4>
                    <p>Bucket must be in <a href="http://bids.neuroimaging.io/bids_spec.pdf">BIDS Format</a> (look at EEG proposal).</p>
                    <div class="form-group">
                        <label for="eeg" class="font-weight-bold">AWS Bucket Name:</label>
                        <input type="text" class="form-control" id="eeg" name="eeg">
                    </div>
                    <div class="form-group">
                        <label for="eeg-key" class="font-weight-bold">AWS Key:</label>
                        <input type="text" class="form-control" id="eeg-key" name="eeg-key">
                    </div>
                    <div id="msg"></div>
                </div>
                <!-- fMRI -->
                <div class="col-sm-4">
                    <h4><b>MRI:</b></h4>
                    <p>Bucket must be in <a href="http://bids.neuroimaging.io/bids_spec.pdf">BIDS Format</a></p>
                    <div class="form-group">
                        <label for="fmri" class="font-weight-bold">AWS Bucket Name:</label>
                        <!-- <input id="file-picker" type="file" name="fmri" accept="text/csv"> -->
                        <input type="text" class="form-control" id="fmri" name="fmri">
                    </div>
                    <div class="form-group">
                        <label for="fmri-key" class="font-weight-bold">AWS Key:</label>
                        <input type="text" class="form-control" id="fmri-key" name="fmri-key">
                    </div>
                    <div id="msg"></div>
                </div>
            </div>
            <div class="row form-inline top-buffer">
                <!-- Phenotypic -->
                <div class="col-sm-4 offset-sm-4">
                    <h4><b>Phenotypic:</b></h4>
                    <p>Stored data in a CSV, subjects as rows, tests as columns</p>
                    <strong>Phenotypic data (.csv) </strong><br>
                    <label style="margin-right:20px" class="btn btn-light">
                        <input id="file-picker" type="file" name="pheno" accept="text/csv">
                    </label>
                    <div id="msg"></div>
                </div>
            </div>
            <!-- Final Submission -->
            <div class="row top-buffer">
                <div class="col-sm-4 offset-sm-4 ">
                    <div class="form-group">
                        <label for="dataset-name" class="font-weight-bold">Dataset Name:</label>
                        <input type="text" class="form-control" id="dataset-name" name="dataset-name">
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Upload" id="upload-button">
                </div>
            </div>
        </form>
        <br />
        <br />

        <div class="row">
        </div>
    </div>
{% endblock %}
